---
title: CL-Verkehrstechnik | Startseite
---
{% extends "./_includes/base.njk" %}
{% block content %}
  <div class="secone" id="about">
    <img src="/static/images/logo.png" alt="" srcset="">
    <h2>CL-Verkehrstechnik GbR</h2>

    <a href="#sectwo" id="scroll-arrow">
      <img src="/static/images/arrow-down.png" alt="Down Arrow">
    </a>
  </div>

  <div class="sectwo animate hidden" id="sectwo">
    <div class="left">
      <h2>Willkommen bei</h2>
      <h3>CL-Verkehrstechnik GbR</h3>
      <p>Wir von der CL-Verkehrstechnik GbR bieten umfassende Dienstleistungen zur Erstellung von Verkehrszeichenplänen, die essentiell für die Verkehrslenkung und- Sicherheit auf Baustellen und im Straßenverkehr sind.</p>

      <p>Um eine optimale und sichere Verkehrsführung sowie einen reibungslosen Bauablauf im öffentlichen Verkehrsraum zu gewährleisten, erstellen wir Ihnen individuelle Verkehrszeichenpläne. Hierbei berücksichtigen wir stets die spezifischen und unterschiedlichen Anforderungen Ihrer Projekte.</p>
      <p>
      Mehr zu unserem Unternehmen finden Sie hier:</p>
      <button class="sectwobutton">
        <a href="/aboutus/">Über Uns</a>
      </button>
    </div>
  </div>

  <div class="sectwo animate hidden" id="principles">
    <div class="left">
      <h2>Unsere Pläne</h2>
      <p>zeichnen sich durch folgende Merkmale aus:</p>
      <ul>
        <li>
          <img src="/static/images/check.png" alt="Checkmark">
          <div class="text">
            <strong>Individuell&nbsp</strong>
                    auf die Örtlichkeit und Ihre Bedürfnisse angepasst
          </div>
        </li>
        <li>
          <img src="/static/images/check.png" alt="Checkmark">
          <div class="text">
            Berücksichtigen
            <strong>&nbspalle gesetzlichen Vorgaben&nbsp</strong> 
            (RSA 21, StVO, VwV-StVO)
          </div>
        </li>
        <li>
          <img src="/static/images/check.png" alt="Checkmark">
          <div class="text">
            <strong>Persönliche&nbsp</strong>
            Beratung und Betreuung
          </div>
        </li>
        <li>
          <img src="/static/images/check.png" alt="Checkmark">
          <div class="text">
            Nutzung <strong>&nbspmodernster  Technologien</strong>
          </div>
        </li>
        <li>
          <img src="/static/images/check.png" alt="Checkmark">
          <div class="text">
            <strong>Zusätzliche Erfahrung&nbsp</strong>
            aus der Verkehrsbehörde (Genehmigungsbehörde)
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="triangle-section animate hidden">
    <div class="triangle-item">
        <h3>Mögliche Gefahrenstellen</h3>
        <p>Problematiken werden von uns früh erkannt.</p>
    </div>
    <div class="triangle-item">
        <h3>Unsere Preise</h3>
        <p>Richten sich am zeitlichen sowie effektiven Aufwand.</p>
    </div>
    <div class="triangle-item">
        <h3>Kontakt</h3>
        <p>Wir freuen uns darauf, Ihr Bauvorhaben gemeinsam zu realisieren.</p>
    </div>
    <button class="triangle-button">
        <a href="/contact/">Kontakt Aufnehmen</a>
    </button>
</div>

{% endblock %}